body
{
  background-color: #090B1A;
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-fluid
{
  padding: 8.6% 15%;
}

.card
{
  padding: 0;
  background-color: #1B1938;
}

.stat-background
{
  padding: 5% 9% 5% 6%;
}

.heading
{
  font-size: 2rem;
  font-weight: 700;
  padding-bottom: 4%;
}

.insights
{
  color: #AA5CDB;
}

.description
{
  color: rgba(255, 255, 255, 0.75);
}

.numbers
{
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  padding-top: 25%;
}

.field
{
  color: rgba(255, 255, 255, 0.6);
  font-family: 'Lexend Deca', sans-serif;
  font-size: 13px;
}

.img-background
{
  background-color: rgba(172, 92, 219, 0.55);
  /* background-color: #AA5CDB; */
}

.image
{
  width: 100%;
  /* opacity: 0.6; */
  position: relative;
  z-index: -1;
}

@media only screen and (max-width: 430px)
{
  .big
  {
    display: flex;
    flex-direction: column-reverse;
  }

  .stat-background
  {
    padding: 10% 8% 5%;
    text-align: center;
  }

  .numbers
  {
    padding-top: 5%;
  }
}
